<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prediction Form</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    {% include 'partials/_navbar.html' %}

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Prediction Form</h5>
            <div class="form-group">
              <label for="textInput">Enter Text:</label>
              <textarea class="form-control" id="textInput" rows="3" placeholder="Enter your text here"></textarea>
            </div>
            <button type="button" class="btn btn-primary" id="predictButton">Predict</button>
          </div>
        </div>
        <div class="mt-4" id="resultDiv" style="display: none;">
          <h5>Result:</h5>
          <p id="resultText"></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    // AJAX Request
    $("#predictButton").click(function() {
      var text = $("#textInput").val();
      $.ajax({
        url: "https://your-fast-api-endpoint.com/predict", // Buraya FastAPI'nin POST endpoint URL'sini ekleyin
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify({ "text": text }),
        success: function(response) {
          // Başarılı istek durumunda burası çalışır
          console.log("Prediction Result:", response);
          $("#resultText").text(response.result); // API'den gelen sonucu sonuç bölümüne ekler
          $("#resultDiv").show(); // Sonuç bölümünü gösterir
        },
        error: function(xhr, status, error) {
          // Hata durumunda burası çalışır
          console.error("Error:", error);
        }
      });
    });
  </script>
</body>

</html>
