<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Traine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    {% include 'partials/_navbar.html' %}

<div class="container mt-5">
    <h2>Traine Page</h2>
    <button id="apiButton" class="btn btn-primary mt-3">Traine</button>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>Task ID</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="logTableBody"></tbody>
    </table>
    <div class="mt-4">
        <button id="clearButton" class="btn btn-danger">Clear</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function () {
    $("#apiButton").click(function () {
        var now = new Date();
        var clickTime = now.toLocaleString();

        $.ajax({
            url: "{% url 'datatraine' %}",
            type: 'GET',
            success: function (data) {
                var listItem = '<tr>' +
                    '<td>' + data.task_id + '</td>' +
                    '<td>' + data.start_time + '</td>' +
                    '<td>' + (data.end_time || '') + '</td>' +
                    '<td>' + data.status + '</td>' +
                    '</tr>';
                $("#logTableBody").append(listItem);
            },
            error: function (error) {
                console.log(error);
                $("#responseArea").html("API isteği sırasında bir hata oluştu.");
            }
        });
    });

        $("#clearButton").click(function () {
            $("#logTableBody").empty();
        });
    });
</script>

</body>
</html>
